*, html {
    margin:0px;
    padding: 0px;
}
/* nav */
nav{ 
    background-color: antiquewhite;/* Add a black background color to the top navigation */
    height:30px;
}
.flexbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul {        
    display: flex;
}
ul li {
    margin-right: 20px;
    list-style-type: none;
}
/* nav end */

.welcomeColor
{
    height: 150px;
    background-color:rgb(161, 210, 225);
    display: flex;
    flex-wrap: wrap;/* let button in the center*/
    justify-content:center; 
    align-items: center;
   
}


.welcome{
    height: 100px;
    width: 300px;
    background-color:rgb(161, 210, 225);
    display:flex;
    justify-content:center; /* let text in the center*/
    align-items: center;
}
  

.sectionTitle{
    height:100px; 
    display:flex;
    justify-content:center; 
    align-items: center;
}

/*content*/

.flexbox2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;/* let contents in the center*/
    align-items: center; 
    
}
.content{
    height: 200px;
    width: 600px;
    margin:20px;
    background-color: rgb(49, 151, 215);

    display: flex;/* let text in the center*/
    justify-content: center;
    align-items: center;  
}


.end{
    display: flex;
    height:30px; width: 100px;
    background-color:rgb(161, 210, 225);

    justify-content:center; 
    align-items: center;

}
